<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <md-card>
        <md-card-content>
          <textarea [(ngModel)]="body"></textarea>
        </md-card-content>
        <md-card-actions align="right">
          <button md-raised-button color="primary" (click)="submit()">Post</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
