<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <md-card>
        <md-card-content>
        <strong>Please log in below:</strong>
          <form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm">
            <md-input-container class="full-width">
              <input mdInput 
                     name="email"
                     type="text"
                     placeholder="Email address" 
                     ngModel
                     required>
            </md-input-container>
            <md-input-container class="full-width">
              <input mdInput 
                     name="password"
                     type="password"
                     placeholder="Password" 
                     ngModel
                     required>
            </md-input-container>
            <md-error *ngIf="message">{{message}}</md-error>
            <button md-raised-button 
                    type="submit"
                    [disabled]="!loginForm.form.valid"
                    color="primary">Login</button> 
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
