<app-new-post></app-new-post>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <md-card *ngFor="let post of posts | async;">
        <md-card-subtitle>
          <span class="hexagon">⬢</span>
          <span>{{(post.authorPromise | async)?.alias}}</span>
        </md-card-subtitle>
        <md-card-content>
          <p>{{post.body}}</p>
        </md-card-content>
        <md-card-actions>
          <button md-icon-button 
                  (click)="rate('positive', post);"
                  [disabled]="!(userId | async)"
                  [ngClass]="post.positiveRatings.has(userId | async) ? 'current' : 'other'">
            <md-icon md-font-set="material-icons">thumb_up</md-icon>
            {{post.positiveRatings.size}}
          </button>
          <button md-icon-button 
                  (click)="rate('medium', post);"
                  [disabled]="!(userId | async)"
                  [ngClass]="post.mediumRatings.has(userId | async) ? 'current' : 'other'">
            <md-icon md-font-set="material-icons">thumbs_up_down</md-icon>
            {{post.mediumRatings.size}}
          </button>
          <button md-icon-button 
                  (click)="rate('negative', post);"
                  [disabled]="!(userId | async)"
                  [ngClass]="post.negativeRatings.has(userId | async) ? 'current' : 'other'">
            <md-icon md-font-set="material-icons">thumb_down</md-icon>
            {{post.negativeRatings.size}}
          </button>
          <span class="opinion">{{opinion(post)}}</span>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
