md-card {
  margin: 5px;
}

.other {
  color: gray;
}

.current {
  color: green;
}

.hexagon {
  display: inline-block;
}

.opinion {
  text-align: right;
  right: 25px;
  position: absolute;
  margin-top: 8px;
  font-weight: bold;
  color: gray;
}

md-card-content {
  word-wrap: break-word;
}
