.fill-space {
  flex: 1 0 auto;
}

.logo {
  padding-bottom: 10px;
}

.logo a {
  color: rgba(255, 255, 255, 0.87);
}

.hexagon {
  font-size: 50px;
  display: inline-block;
  transform: translateY(30%);
}
