<md-toolbar color="primary">
  <span class="logo">
    <a routerLink="">
      <span class="hexagon">⬢</span>
      Antagon
    </a>
  </span>
  <span class="fill-space"></span>
  <span *ngIf="!(userId | async)">
    <a md-button routerLink="/login">Login</a>
    <a md-button routerLink="/register">Register</a>
  </span>
  <span *ngIf="(userId | async)"><button md-button (click) ="logout()">Logout</button></span>
</md-toolbar>
<router-outlet></router-outlet>
