<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <md-card>
        <md-card-content>
        <strong>Please sign up below:</strong>
          <form (ngSubmit)="register(registerForm.value)" #registerForm="ngForm">
            <md-input-container class="full-width">
              <input mdInput 
                     name="email"
                     type="text"
                     placeholder="Email address" 
                     ngModel
                     required>
            </md-input-container>
            <md-input-container class="full-width">
              <input mdInput 
                     name="password"
                     type="password"
                     placeholder="Password" 
                     ngModel
                     required>
            </md-input-container>
            <md-input-container class="full-width">
              <input mdInput 
                     name="alias"
                     type="text"
                     placeholder="Alias" 
                     ngModel
                     required>
            </md-input-container>
            <md-input-container class="full-width">
              <input mdInput 
                     name="name"
                     type="text"
                     placeholder="Real Name" 
                     required
                     ngModel>
              <md-hint align="start"><em>Don't worry, we don't show this to anyone.</em></md-hint>
            </md-input-container>
            <div class="button-container">
              <md-error *ngIf="message">{{message}}</md-error>
              <button md-raised-button 
                      type="submit"
                      [disabled]="!registerForm.form.valid"
                      color="primary">Register</button> 
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
